IMG {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;

  &.fill {
    object-fit: fill;
  }

  &.cover {
    object-fit: cover;
  }

  &.contain {
    object-fit: contain;
  }
  
  &.cover {
    object-fit: scale-down;
  }
}

