:host {
  --c-brand: #F96E46;
}

.navigation {
  /* Stretch content vertically */
  display: flex;
  flex: 1 1 auto;
  min-height: 16px;
  min-width: 16px;

  margin: 0;
  padding: 0;

  /* Defaults */
  background-color: var(--c-background-primary);
  color: var(--c-background-primary-text);
}