:root {
  --c-brand: #F96E46;
  --c-background: #004960;
  --v-icon-size: 50px;
  --v-icon-width: var(--v-icon-size);
  --v-icon-height: var(--v-icon-size);
  --v-icon-scale: 0.7;

  display: inline-block;
  flex: 0 0 auto;
  min-width: var(--v-icon-width);
}

.navigation {
  /* Stretch content vertically */
  display: flex;
  flex-direction: column;
  height: 100%;

  /* Remove UL styling */
  list-style: none;
  margin: 0;
  padding: 0;

  /* Defaults */
  background-color: var(--c-background);

  /* Nav items */
  LI {
    display: flex;
    padding: 0;
    margin: 0;
    width: var(--v-icon-width);
    height: var(--v-icon-height);
    
    > * {
      flex: 1 1 auto;
    }

    &.spacer {
      flex: 1 1 auto;
      height: unset;
    }

    &.icon {
      a {
        background-repeat: no-repeat;
        display: block;
        color: white;
        position: relative;

        .octicon {
          font-size: calc(var(--v-icon-width) * var(--v-icon-scale));
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &.logo {
      a {
        background-color: var(--c-brand);
        background-size: calc(100% * var(--v-icon-scale));
      }
    }
  }
}