<!DOCTYPE html>
<head>
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#7575ff">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#7575ff">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#7575ff">	<meta charset="utf-8">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
		maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Loading...</title>
	<link rel="shortcut icon"
		href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	<link rel="icon"
		href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	{% for include in include_css -%}
	<link type="text/css" rel="stylesheet" href="{{ include }}?ver={{ build_version }}">
	{%- endfor -%}
	<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
</head>
<body>

	<div class="centered splash" style="width: 100px; height: 100px;">
		<img src="{{ splash_image or "/assets/frappe/images/frappe-framework-logo.png" }}">
	</div>
	<div class="main-section">
		<b-navbar id="main-nav"
			theme="dark"
			direction="column"
			[sm]size="32px"
			[md]size="64px"
			[xs]visible="false"
			[md]visible="true"
		>
			<b-navlogo label="Home"></b-navlogo>

			<b-spacer></b-spacer>

			<b-icon icon="person" padding="20px"></b-icon>
		</b-navbar>
		<header>
			<b-navbar id="top-nav"
				direction="row"
				size="32px"
				[xs]visible="false"
				[md]visible="true"
				theme="light"
			>
				<b-breadcrumb></b-breadcrumb>
				<b-spacer></b-spacer>
				<b-awesomebar></b-awesomebar>
				<b-spacer></b-spacer>
			</b-navbar>
		</header>
		<div id="body_div"></div>
		<b-navbar 
			id="coms-nav"
			theme="light"
			direction="column"
			size="24px"
			[xs]visible="false"
			[md]visible="true"
		>
			<b-icon icon="bell"></b-icon>
			<b-icon icon="comment-discussion"></b-icon>
			<b-icon icon="git-branch"></b-icon>
		</b-navbar>
		<footer>
			<b-navbar
				id="mobile-nav"
				theme="dark"
				direction="row"
				align="space-between"
				size="64px"
				[xs]visible="true"
				[md]visible="false"
			>
				<b-icon icon="three-bars"></b-icon>
				<b-icon icon="search"></b-icon>
				<b-navlogo label="Home" size="64px"></b-navlogo>
				<b-icon icon="person"></b-icon>
				<b-icon icon="comment-discussion"></b-icon>
			</b-navbar>
		</footer>
	</div>

	<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>

	<script type="text/javascript">
	window._version_number = "{{ build_version }}";
	// browser support
	window.app = true;
	window.dev_server = {{ dev_server }};

	if(!window.frappe) window.frappe = {};
	if(!window.bloomstack) window.bloomstack = {};

	frappe.boot = {{ boot }};

	frappe.csrf_token = "{{ csrf_token }}";
	</script>

	{% for include in include_js %}
	<script type="text/javascript" src="{{ include }}?ver={{ build_version }}"></script>
	{% endfor %}
	{% include "templates/includes/app_analytics/google_analytics.html" %}
	{% include "templates/includes/app_analytics/mixpanel_analytics.html" %}

	{% if desk_include_js %}
		<script>{{ desk_include_js }}</script>
	{% endif %}

	{% for sound in (sounds or []) %}
	<audio preload="auto" id="sound-{{ sound.name }}" volume={{ sound.volume or 1 }}>
		<source src="{{ sound.src }}"></source>
	</audio>
	{% endfor %}
</body>
